* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgba(53, 56, 63, 0.897);
    font-family: 'Times New Roman', Times, sans-serif;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10%;
    margin: 6% 10%;
    border-radius: 20px;
    background-color: rgba(20, 20, 20, 0.5);
    box-shadow:0 0 4px 4px rgba(151, 135, 111, 0.5);
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    text-align: center;
    outline: none;
    color: white;
    font-weight: 500;
}

::placeholder {
    color: white;
    letter-spacing: 0.3px;
}

button,
#voirAutreCommande {
    background-color: #3A2887;
    box-shadow: 0 6px 4px #261A1A;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    transform: translateY(4%);
}

span {
    color: #3A2887;
    font-weight: bold;

}


/* TEMPLATES HTML */

header {
    width: 100%;
    height: 100vh;
    background: url(./Medias/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header>p {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 112, 89, 0.35);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 62px;
    top: 0;
    gap: 0%;
    color: white;
    background-color: rgba(142, 117, 109, 0.95);
    position: fixed;
    z-index: 10;
}

#logo {
    height: 61px;
    width: 100px;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 60%;

}

a,
nav>ul>li {
    text-decoration: none;
    color: white;
    font: bolder;
    cursor: pointer;

}

nav>ul>li {

    transition: 0.3s ease-in-out;
}

nav>ul>li:hover {
    transform: translateY(-4px);
    color: #ff0c2d;

}

#offcave {
    display: none;
    cursor: pointer;
}


#titre {
    position: relative;
    top: 40%;
    width: 40%;
    margin-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;
}

#titre h1 {
    font-size: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    min-width: 20%;
    flex: 1;
    margin: 10px 20px;
    padding: 10px 5px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 1.2s ease-in-out;
    background-color:  #a391918a;
}

section:hover {
    animation: sectionAnimation 1.3s ease-in-out 1;
}

@keyframes sectionAnimation {
    from {
        border: 2px solid #3A2887;
        background-color: #a5dfc450;
    }

    to {
        border: 2px solid #eb0e19;
        transform: rotateY(360deg);
    }

}

.imageCard {
    width: 190px;
    height: 190px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 5px 5px black;
}


#commandeForm {
    display: none;
}

#offcave i {
    color: #3A2887;
}

/* PAYMENT*/
#payement {
    width: 100%;
    background-color: rgba(204, 200, 223, 0.286);
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 5px;
    color: white;
    background-color: rgba(142, 117, 109, 0.986);
}

footer li {

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.socialMedias {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-items: center;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(142, 117, 109, 0.205)
}

.socialMedias div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    

}

i {
    color: blue;
    margin: 5px;
    font-size: 1.2em;
    transition: 0.3s ease-in-out;

}

i:hover {
    transform: scale(1.5);
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 80%;
    gap: 2%;
}

.img {
    height: 41px;
    width: 80px;
    transition: 0.4s ease-in-out;
}

/* repsonsive web connexion */

@media screen and (max-width:400px) {

    form>h1,
    form>span {
        font-size: 15px;
    }

    form>p {
        font-size: 15px;
    }

    #payement {
        font-size: 10px;
    }

}

@media screen and (max-width:295px) {

    form>h1,
    form>span {
        font-size: 10px;
    }

    form>p {
        font-size: 10px;
    }

    form>button,
    #voirAutreCommande {
        padding: 3px;
        letter-spacing: 0;
        font-size: 10px;
        box-shadow: 0 5px 2px #261A1A;
    }


    #titre h1 {
        font-size: 30px;
    }


    #titre button {
        font-size: 8px;
        box-shadow: 0 3px 2px #261A1A;
    }

    .top {
        top: 20%;
    }

    footer>ul>li {
        font-size: 11px;
    }

}

/* repsonsive web interface*/

@media screen and (max-width:970px) {
    section {
        min-width: 25%;
    }
}

@media screen and (max-width:730px) {
    main{
        padding: 10px;
    }
    section {
        min-width: 30%;
        margin: 20px 10px;
    }
}

@media screen and (max-width:530px) {
    #deconnexion {
        font-size: 0.5rem;
    }

    #logo {
        width: 80px;
        height: 50px;
    }

}

@media screen and (max-width:475px) {
    main{
        padding: 0 30px;
    }
    section {
        margin: 10px;
    }

    #titre {
        top: 20%;
    }

    .listes {
        position: absolute;
        align-items: center;
        padding: 50px;
        gap: 30px;
        top: 65px;
        width: 100%;
        flex-direction: column;
        background-color: rgba(142, 117, 109, 0.7);
        border-radius: 6px;
        transition: 0.5s ease;
        left: -100vh;
    }

    .menu-list {
        left: 0;
    }


    #offcave {
        display: block;
    }

    section {
        min-width: 50%;
        margin: 20px auto;
    }

    footer {
        font-size: 15px;
    }

}